@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/*-------------------------------
	Estilos Básicos
--------------------------------*/

body{
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin: 0;
}

img {
	max-width: 200px;
}

/*-------------------------------
	Cabecera 
--------------------------------*/

header nav.navbar-default{
	background: transparent;
}

header nav{
	margin-top: 25px;
	transition: all .5s ease-out;
}

header .navbar-default .navbar-nav a {
  color: white;
  padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
  color: #58FAAC;
}

header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color: #58FAAC;
  background: transparent;
  border-bottom: 2px solid #58FAAC;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #2E9AFE;
  background: transparent;
  text-shadow: none;
}

/*-------------------------------
	Navbar Brand
--------------------------------*/

header .navbar-brand{
	background: url(../../imagenes/logo-veterinaria.png);
	background-repeat: no-repeat;
	background-position: 10px 0;
	height: auto;
}

header .navbar-brand h1{
	color: white;
	margin: 0;
	font-size: 0.4em;
	font-weight: 800;
	padding-left: 50px;
}

header .navbar-brand span.subhead{
	display: block;
	font-family: "Robot Slab", sans-serif;
	font-size: .6em;
	font-weight: 100;
}

/*-------------------------------
	Navegación alternada
--------------------------------*/

header .navbar-toggle{
	background-color: #58FAAC;
}

header .navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
@media only screen and (max-width: 768px){
	header .navbar-collapse.in{
		background-color: rgba(0,0,0, .6);
	}
}

/*-------------------------------
	Navegación inbody
--------------------------------*/

header nav.inbody{
	background: rgba(104, 73, 79, .8);
	padding-bottom: 5px;
}

header nav.inbody .navbar-nav{
	padding-top: 10px;
}

header nav.inbody .navbar-brand{
	background-size: 38px;
	background-position: top left;
	margin-top: 5px;
	padding-top: 0;
	margin-left: 10px;
}

header nav.inbody .navbar-brand h1{
	font-size: 1.1em;
	padding-left: 38px;
	padding-top: 10px;
}

header nav.inbody .navbar-brand span.subhead{
	display: none;
}

/*-------------------------------
	Desvanecimiento
--------------------------------*/

.carousel.fade{
	opacity: 1;
}

.carousel.fade .item{
	transition: opacity ease-out .7s;
	left: 0;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display:block;
}

.carousel.fade .item:first-child{
	top: auto;
	opacity: 0;
	position: relative;
}

.carousel.fade .item.active{
	opacity: 1;
}

.carousel-control{
	opacity: 0;
}

.carousel-control.right,
.carousel-control.left{
	background-image: none;
}

#inicio .item{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

/*-------------------------------
	Página
--------------------------------*/

.page{
	padding: 50px 0;
}

.page h2{
	text-align: center;
	margin-bottom: 35px;
}

/*-------------------------------
	Página Misión
--------------------------------*/

#mision{
	background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #EEF08A, #819A2D);
	border-top: 15px solid rgba(238, 200, 86, .5);
}

/*-------------------------------
	Página Servicios
--------------------------------*/

.service{
	margin: 15px 0;
	text-align: center;
}

#servicios img.icon{
	display: block;
	width: 90px;
	margin: 0 auto;
	margin-bottom: 5px;
}

#servicios h3{
	margin-bottom: 10px;
}

@media only screen and (min-width: 450px) and (max-width: 768px){
	.service p{
		padding: 0 10%;
	}
}

/*-------------------------------
	Página Personal
--------------------------------*/

#personal{
	background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #E4D29D, #CDAE50);
}

.doctor{
	margin: 10px 0;
}

.doctor h3{
	font-weight: 600;
	font-size: 1.2em;
	color: #6F4E36;
	padding-bottom: 5px;
}

.doctor p{
	font-size: .8em;
}

.doctor img{
	width: 100%
}

/*-------------------------------
	Página Testimonios
--------------------------------*/

#testimonios{
	padding: 0;
}

#testimonios h2{
	display: none;
}

#testimonios blockquote{
	margin: 0;
	padding: 0;
	border-left: none;
	min-height: 500px;
	position: relative;
}

#testimonios blockquote .quote{
	background-color: rgba(255,255,255,.6);
	padding: 20px 5%;
	position: absolute;
	bottom: 0;
	width: 75%;
	font-weight: 400;
	border-radius: 0 50px 0 0;
}

#testimonios blockquote .quote:hover{
	background-color: rgba(239,240,196,.9);
}

#testimonios #pedro{
	background: url(../../imagenes/testimonio-img2.jpg);
	background-size: cover;
}

#testimonios #lucia{
	background: url(../../imagenes/testimonio-img1.jpg);
	background-size: cover;
}

#testimonios #jose{
	background: url(../../imagenes/testimonio-img3.jpg);
	background-size: cover;
}

#testimonios #lorena{
	background: url(../../imagenes/testimonio-img4.jpg);
	background-size: cover;
}

#testimonios .quote .mas, #testimonios .quote .cliente{
	opacity: 0;
	font-size: 0;
	line-height: 0;
	padding-top: 10px;
}

#testimonios .quote:hover .mas{
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	display: block;
	opacity: 1;
	font-size: .8em;
	line-height: 120%;
}

#testimonios .quote .introduccion::after{
	content: '...';
}

#testimonios .quote:hover .introduccion::after{
	content: ' ';
}

/*-------------------------------
	Pie de página
--------------------------------*/

footer{
	background: #586D74;
	color: white;
	font-size: .8em;
	padding: 20px 0 40px 0;
}

footer a{
	color: #E0E6AE;	
}

footer a:hover{
	color: #EEC856 !important;
}

footer .telefono{
	font-size: 1.4em;
	font-weight: 650;
	color: #E0E6AE;
}

footer .navbar{
	margin-bottom: 0;
	min-height: 0;
}

footer .navbar-default{
	background-color: transparent;
	border: none;
	margin-right: 40px;
}

footer .navbar-nav>li a{
	padding-top: 0;
	padding-bottom: 0;
	text-decoration: underline;
	color:  #EEC856 !important;
}